{{#each this}}
<a class='gallery__item' href='{{largeImageURL}}'>
  <img class='gallery__image' src='{{webformatURL}}' alt='{{tags}}' loading='lazy' />
  <div class='photo-card'>{{tags}} 
  <div class='info'>
    <p class='info__item'>
      <b>Likes: </b>{{likes}}
    </p>
    <p class='inf__item'>
      <b>Views: </b>{{views}}
    <p class='info__item'>
      <b>Comments: </b>{{comments}}
    <p class='info__item'>
      <b>Downloads: </b>{{downloads}}
    </p>
  </div>
</div>
</a>
{{/each}}